

/* CONTACT SECTION */
.contact-section {
  position: relative;
  z-index: 2;              /* make it appear above blurred background */
  padding: 60px 20px;
  max-width: 1100px;
  margin: 80px auto;
  background: rgba(10, 34, 99, 0.833); /* soft transparent dark */
  border-radius: 14px;
  backdrop-filter: blur(6px); 
  box-shadow: 0 8px 24px rgba(0,0,0,0.35);
}

/* Container layout */
.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Left side form */
.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form h1 {
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: white;
  color: #000;
  font-size: 16px;
}

.contact-form button {
  padding: 12px 20px;
  background: #0C2B4E;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.contact-form button:hover {
  opacity: 0.9;
}

/* Right side info */
.contact-info {
  flex: 1;
  min-width: 260px;
  color: #fff;
  margin-top: 12%;
}

.contact-info h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  text-align: center;
}

.contact-info p {
  margin: 10px 0;
  text-align: center;
  font-size: 25px;
  color: rgba(255,255,255,0.8);
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 12px;
  color: #E6FF00;
  font-size: 20px;
  transition: 0.2s;
}

.social-icons a:hover {
  color: #ffffff;
}
 .banner img {
  width: 100%;
  height: 200px;       /* horizontal large shape */
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}

/* Category title */
.category h2 {
  color: white;       /* only color allowed */
  margin: 10px 0;
  font-size: 24px;
}

/* Movies list */
.movies-row {
  display: flex;
  gap: 16px;
  padding-bottom: 10px;
  overflow: hidden;
  justify-content: space-between;
  align-items: flex-start;
}

.movies-row img {
  flex: 0 0 calc((100% - 64px) / 5);
  width: calc((100% - 64px) / 5);
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  min-width: 120px;
  max-width: 220px;
}